<%- include('../partials/header.ejs') %>


    <%- include('../partials/sidebar.ejs') %>

        <div class="container-fluid">

          

            <!--Successd order--> 
            <div class="container py-5">
                <h3 class="text-center text-danger fw-bold">Pending Orders: <%= totalOrder[0].count %></h3>
                <hr class="mb-5">
                <% if(orders.length==0) {%>
                    <h4 class="text-center text-danger">No data available right now</h4>
                    <% }else{%>
                        <div class="table-responsive">
                            <table class="table align-middle mb-0 bg-white table-bordered border-muted">
                                <thead class="bg-light table-dark">
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Customer Info</th>
                                        <th>Product Name</th>
                                        <th>Date</th>
                                        <th>Product Price</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="table-striped table-hover">
                                    <% for (let i= 0; i < orders.length ; i++){ %>
                                        <tr>
                                            <td>
                                                <p class="fw-normal mb-1 order_id">
                                                    <%= orders[i].id %>
                                                </p>
                                            </td>
    
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                                        style="width: 45px; height: 45px" class="rounded-circle" />
                                                    <div class="ms-3">
                                                        <p class="fw-bold mb-1">
                                                            <%= orders[i].customer_name %>
                                                        </p>
                                                        <p class="text-muted mb-0">
                                                            <%= orders[i].phone %>
                                                        </p>
                                                        <p class="text-muted mb-0">
                                                            <%= orders[i].email %>
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="orderId" value="<%= orders[i].product_name %>" hidden>
                                                <p class="fw-normal mb-1 productName">
                                                    <%= orders[i].product_name %>
                                                </p>
                                            </td>
    
                                            <td>
                                                <%= moment(orders[i].createdAt) %>
                                            </td>
    
                                            <td>
                                                <%= orders[i].product_price %> TK
                                            </td>
                                            <td class="fw-bold">
                                                <%= orders[i].total_amount %> TK
                                            </td>
                                            <td>
                                                <span
                                                    class="badge <%= orders[i].statuss == 'success' ? 'badge-success' : 'badge-danger'  %>  rounded-pill d-inline">
                                                    <%= orders[i].statuss %>
                                                </span>
                                            </td>
                                            <td>
                                                <% if(orders[i].statuss=="pending" ){ %>
                                                    <a href="/order/confirm/<%= orders[i].id %>"
                                                        class="c_btn my-1 btn-sm btn-success">Confirm</a>

                                                        <button data-mdb-toggle="modal"
                                                        data-mdb-target="#deleteOrder" 
                                                            class="c_btn my-1 btn-sm btn-danger deleteOrderBtn">Delete</button>
                                                    <% }else{ %>
                                                        <span style="font-style: italic;">Confirmed</span>
                                                     <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
    
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-center py-5">
                            <nav aria-label="...">
                                <ul class="pagination">
                                  <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>"  >
                                    <a  href="/admin/orders/pending?page=<%=currentPage-1 %>" class="page-link" >Previous</a>
                                  </li>
                                  <% for(let i=0; i<= totalPage; i++) {%> 
                                    <li class="page-item  <%= currentPage == i+1 ? "active" : "" %> "><a class="page-link" href="/admin/orders/pending?page=<%=i+1 %> "><%= i+1 %> </a></li>
                                  <% }%> 
                                  <li class="page-item <%= currentPage >= totalPage ? 'disabled' : '' %>"  >
                                    <a class="page-link" href="/admin/orders/pending?page=<%=currentPage+1 %>">Next</a>
                                  </li>
                                </ul>
                              </nav>
                          </div>
                        <% }%>

                <!-- Modal -->
                <div class="modal top fade" id="deleteOrder" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true"
                data-mdb-backdrop="static" data-mdb-keyboard="true">
                <div class="modal-dialog  ">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal2Label">Do you want to delete this Order? </h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal_body">
                        <h2 id="product_name_in_modal"></h2>
                    </div>
                    <div class="modal-footer">
                    
                    
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                    </button>
                    <form action="/admin/order/delete" method="post">
                        <input type="text" hidden name="order_id" id="product_id_in_form" value="">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    </div>
                </div>
                </div>
                </div>

                     

            </div>
        </div>


        <%- include('../partials/footer.ejs') %>

        <script type="text/javascript">

            const deleteOrderBtn = document.getElementsByClassName("deleteOrderBtn");
            for (let i = 0; i < deleteOrderBtn.length; i++) {
                deleteOrderBtn[i].addEventListener("click", () => {
                let orderId = document.getElementsByClassName("order_id")
                let productName = document.getElementsByClassName("productName")
    
                document.getElementById("product_id_in_form").value = orderId[i].innerText
                document.getElementById("product_name_in_modal").innerText = productName[i].innerText
              })
            }
    
    
          </script>
    

            </body>

            </html>